body{
    display: grid;
    justify-content: center;
    align-content: center;
    height: 100vh;
}
div{
    width: 100px;
    height: 100px;
    background-color: black;
    color: burlywood;
    padding: 30px;
}